.badge {
  background-color: #888;
  border: none;
  font-weight: bold;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}

.button {
  background-color: white;
  border: 2px solid;
  padding: 8px 15px;
  font-size: 1.2rem;
  border-radius: 4px;
}

.gray {
  color: #888;
}

.red {
  color: red;
}
