body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  color: #1322dd;
}

.dFlex {
  display: flex;
}

.justify_between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.menuLinks {
  list-style: none;
  column-gap: 10px;
}

.activeLink {
  text-decoration: underline;
}

.nav {
  padding: 20px 40px;
  border-bottom: 1px solid #3e3e3e;
}

.logo-img {
  width: 60px;
}

.padSection {
  padding: 10px 20px;
}
