body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: #1322dd;
}

ul {
  list-style: none;
  margin: 0;
}

.dFlex {
  display: flex;
}

.justify_between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.menuLinks {
  column-gap: 10px;
}

.activeLink {
  text-decoration: underline;
}

.nav {
  padding: 20px 40px;
  border-bottom: 1px solid #3e3e3e;
}

.logo-img {
  width: 60px;
}

.padSection {
  padding: 10px 20px;
}

tr:nth-child(odd) {
  background-color: #ddd;
}

#rowTitle {
  background-color: white;
}

.profileTitle {
  font-size: 25px;
  font-weight: 600;
}

.border {
  border: 1px solid #000;
  padding: 5px 10px;
}

.myProfile {
  justify-content: center;
  column-gap: 50px;
}
